---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Grid from '../layouts/Grid.astro';
import ItemBox from '../components/Tile.astro';
import ProjectFrame from '../components/ProjectFrame.astro';

import '../styles/animations.css';
// import '../js/reuseTile.js';

import { contentfulClient } from '../lib/contentful';
import type { Project } from '../lib/contentful';

const entires = await contentfulClient.getEntries<Project>({
  content_type: 'project',
});

const tiles = entires.items.map((item) => {
  const { title, subtitle, date, image, slug, columnNumber } = item.fields;
  return { title, subtitle, date, image, slug, columnNumber };
});
---

<Layout>
  <!-- <script src="../js/reuseTile.js"></script> -->
  <script src="../js/projectFrame.js"></script>

  <main>
    <div class="navbar">
      <div class="leftside">
        <a href="/">Jacob Kreindler</a>
      </div>
      <div class="rightside">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <Grid>
      <div class="col-1" style="margin-top: -83px;">
        {
          // map all the tiles that are in column one to the ItemBox component
          tiles
            .filter((tile) => tile.columnNumber === 1)
            .map((tile) => (
              <ItemBox
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}?fm=jpg&fl=progressive`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-2" style="margin-top: -2px;">
        {
          // map all the tiles that are in column one to the ItemBox component
          tiles
            .filter((tile) => tile.columnNumber === 2)
            .map((tile) => (
              <ItemBox
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}?fm=jpg&fl=progressive`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-3" style="margin-top: -35px;">
        {
          // map all the tiles that are in column one to the ItemBox component
          tiles
            .filter((tile) => tile.columnNumber === 3)
            .map((tile) => (
              <ItemBox
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}?fm=jpg&fl=progressive`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-4" style="margin-top: -64px;">
        {
          // map all the tiles that are in column one to the ItemBox component
          tiles
            .filter((tile) => tile.columnNumber === 4)
            .map((tile) => (
              <ItemBox
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}?fm=jpg&fl=progressive`}
                slug={tile.slug}
              />
            ))
        }
      </div>
    </Grid>
    <ProjectFrame />
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    z-index: 5;
    background-color: white;
    padding-top: 5vh;
    width: 100vw;
  }
  .navbar a {
    text-decoration: transparent;
    color: black;
    padding: 0.5rem;
    transition-duration: 500ms;
  }
  .navbar a:hover {
    text-decoration: underline;
    transition-duration: 500ms;
  }
  .navbar .leftside {
    float: left;
    margin-left: 20px;
  }
  .navbar .rightside {
    float: right;
    margin-right: 20px;
  }

  /* apply to all classes that start with 'col-' */
  [class^='col-'] {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    animation-name: slideUp;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }

  [class^='col-']:hover {
    animation-play-state: paused;
  }

  .col-1 {
    animation-duration: 210s;
  }
  .col-2 {
    animation-duration: 170s;
  }
  .col-3 {
    animation-duration: 200s;
  }
  .col-4 {
    animation-duration: 180s;
  }
</style>
