---
//@ts-nocheck

import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';
import Navbar from '../components/Navbar.astro';
import ProjectFrame from '../components/project/ProjectFrame.astro';
import Footer from '../components/Footer.astro';

import '../styles/animations.css';
import '../js/mobileHover.js';

import { contentfulClient } from '../lib/contentful';
import type { Project } from '../lib/contentful';

const entires = await contentfulClient.getEntries<Project>({
  content_type: 'project',
  order: '-fields.date',
});

const tiles = entires.items.map((item) => {
  const { title, subtitle, date, image, slug, columnNumber } = item.fields;
  return { title, subtitle, date, image, slug, columnNumber };
});
---

<Layout>
  {
    (
      <div class="container">
        {/* Map all the tiles */}
        {tiles.map((tile) => (
          <Tile
            title={tile.title}
            date={tile.date}
            image={`${tile.image.fields.file.url}`}
            slug={tile.slug}
            transition:name={`project-${tile.slug}`}
          />
        ))}
      </div>
    )
  }
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      justify-content: center;
      gap: 20px;
      margin-top: 30vh;
      margin-bottom: 20px;
      width: 90%;
    }
  </style>
</Layout>
