---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Grid from '../layouts/Grid.astro';
import Tile from '../components/Tile.astro';
import Navbar from '../components/Navbar.astro';
import ProjectFrame from '../components/ProjectFrame.astro';

import '../styles/animations.css';

// import '../js/reuseTile.js';

import { contentfulClient } from '../lib/contentful';
import type { Project } from '../lib/contentful';

const entires = await contentfulClient.getEntries<Project>({
  content_type: 'project',
});

const tiles = entires.items.map((item) => {
  const { title, subtitle, date, image, slug, columnNumber } = item.fields;
  return { title, subtitle, date, image, slug, columnNumber };
});
---

<Layout>
  <!-- <script src="../js/reuseTile.js"></script> -->
  <script src="../js/projectFrame.js"></script>
  <main>
    <Navbar />
    <Grid>
      <div class="col-1">
        {
          // map all the tiles that are in column one to the Tile component
          tiles
            .filter((tile) => tile.columnNumber === 1)
            .map((tile) => (
              <Tile
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-2">
        {
          // map all the tiles that are in column one to the Tile component
          tiles
            .filter((tile) => tile.columnNumber === 2)
            .map((tile) => (
              <Tile
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-3">
        {
          // map all the tiles that are in column one to the Tile component
          tiles
            .filter((tile) => tile.columnNumber === 3)
            .map((tile) => (
              <Tile
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}`}
                slug={tile.slug}
              />
            ))
        }
      </div>
      <div class="col-4">
        {
          // map all the tiles that are in column one to the Tile component
          tiles
            .filter((tile) => tile.columnNumber === 4)
            .map((tile) => (
              <Tile
                title={tile.title}
                subtitle={tile.subtitle}
                date={tile.date}
                image={`${tile.image.fields.file.url}`}
                slug={tile.slug}
              />
            ))
        }
      </div>
    </Grid>
    <ProjectFrame />
  </main>
</Layout>

<style>
  html {
    overflow: hidden;
  }
  main {
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  /* apply to all classes that start with 'col-' */
  [class^='col-'] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation-name: slideUp;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }

  [class^='col-']:hover {
    animation-play-state: paused;
  }

  .col-1 {
    animation-duration: 210s;
    margin-top: -83px;
  }
  @media screen and (max-width: 815px) {
    .col-1 {
      margin-top: 0px;
    }
  }
  .col-2 {
    animation-duration: 170s;
    margin-top: -2px;
  }
  .col-3 {
    animation-duration: 200s;
    margin-top: -35px;
  }
  .col-4 {
    animation-duration: 180s;
    margin-top: -64px;
  }
</style>
