---
import Layout from '../layouts/Layout.astro';
import ItemBox from '../components/Tile.astro';

import { contentfulClient } from '../lib/contentful';
import type { Tile } from '../lib/contentful';

const entires = await contentfulClient.getEntries<Tile>({
  content_type: 'tile',
});

const tiles = entires.items.map((item) => {
  const { title, subtitle, date, image, slug } = item.fields;
  return { title, subtitle, date, image, slug };
});
---

<Layout>
  <script src="../js/reuseTile.js"></script>
  <main>
    <div class="navbar">
      <div class="leftside">
        <a href="/">Jacob Kreindler</a>
      </div>
      <div class="rightside">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="content">
      <div class="col-1" style="margin-top: -83px;">
        {
          tiles.map((tile) => (
            <ItemBox
              title={tile.title}
              subtitle={tile.subtitle}
              date={tile.date}
              image={`https://${tile.image.fields.file.url}?fm=jpg&fl=progressive`}
              slug={tile.slug}
            />
          ))
        }
      </div>
      <div class="col-2" style="margin-top: -2px;">
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
      </div>
      <div class="col-3" style="margin-top: -35px;">
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing Other"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing Other"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
      </div>
      <div class="col-4" style="margin-top: 50px;">
        <ItemBox
          title="Other other Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Other other Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
        <ItemBox
          title="Thing"
          subtitle="Stuff"
          date="1/2/3"
          image="https://source.unsplash.com/random"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    z-index: 5;
    background-color: white;
    padding-top: 5vh;
  }
  .navbar a {
    text-decoration: transparent;
    color: black;
    padding: 0.5rem;
    transition-duration: 500ms;
  }
  .navbar a:hover {
    text-decoration: underline;
    transition-duration: 500ms;
  }
  .navbar .leftside {
    float: left;
    margin-left: 20px;
  }
  .navbar .rightside {
    float: right;
    margin-right: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5vh;
    width: 90vw;
    height: auto;
  }

  /* apply to all classes that start with 'col-' */
  [class^='col-'] {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    animation-name: slideUp;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }

  [class^='col-']:hover {
    animation-play-state: paused;
  }

  .col-1 {
    animation-duration: 210s;
  }
  .col-2 {
    animation-duration: 170s;
  }
  .col-3 {
    animation-duration: 200s;
  }
  .col-4 {
    animation-duration: 180s;
  }
</style>
