---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { contentfulClient } from '../../lib/contentful';
import type { Project } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { BLOCKS } from '@contentful/rich-text-types';

let project;
const { slug } = Astro.params;

const options = {
  renderNode: {
    [BLOCKS.EMBEDDED_ASSET]: ({
      data: {
        target: { fields },
      },
    }) =>
      `<Image data-aos="fade-up" class="blurry-load" style="margin: 10px 10px 10px 0px; aspect-ratio: 16/9;" src="https://${fields.file.url}?fm=jpg&fl=progressive&w=10&h=10&q=5" data-large=https://${fields.file.url}?fm=jpg&fl=progressive&w=1920&h=1080&q=35 width="40%" alt="${fields.description}"/>`,
  },
};

try {
  const data = await contentfulClient.getEntries<Project>({
    content_type: 'project',
    'fields.slug': slug,
  });
  const { title, date, image, content } = data.items[0].fields;
  project = {
    title,
    date: new Date(date).toLocaleDateString(),
    image: image.fields.file.url,
    content: documentToHtmlString(content, options),
  };
} catch (error) {
  return Astro.redirect('/404');
}
---

<Layout>
  <div class="headerText">
    <h1>{project?.title}</h1>
    <!-- if the date is returned as "invalid date don't show it" -->
    <h2>{project?.date !== 'Invalid Date' && project?.date}</h2>
  </div>
  <Image
    class="blurry-load"
    alt=""
    width={100}
    height={100}
    loading="eager"
    data-large=`${project?.image}?fm=jpg&fl=progressive&w=1920&h=1080&q=50`
    src=`${project?.image}?fm=jpg&fl=progressive&w=500&h=500&q=5`
  />
  <center>
    <article set:html={project?.content} />
  </center>
</Layout>

<style>
  img {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  article {
    display: block;
    position: absolute;
    top: 105vh;
    text-align: justify;
    margin: 5px;
    padding: 10px;
  }

  .headerText {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    color: white;
    bottom: 0;
  }
</style>
